body {
	margin: 0;
	background-color: #f2f2f2;
	font-size: 16px;
}

/* 
		--------------------------------
		 Deklaracije za navigation menu
		--------------------------------
*/
nav {
	z-index: 1000;
	position: relative;
	font-size: 1.25em;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}
nav ul {
	text-align: center;
	padding: 10px 0px 10px 0px;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: #999999;
	/*position: fixed;*/
	top: 0;
	width: 100%;
	box-shadow: 0px 5px 5px 2px #999999;
}
nav li {
	display: inline-block; /* itemi v vrsti */
	padding: 0px 5px 0px 5px;
}
nav a {
	display: block;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 10px 30px;
	background-color: #999999; /* za animacijo na hover eventu */
	transition: background-color 250ms linear, transform 250ms ease;
}
nav a:hover {
	background-color: #B30000;
	transform: scale(1.05, 1.05);
}
nav a.active {
	background-color: rgba(179, 0, 0, 0.9);
}
@media screen and (max-width: 720px) { /* rwd - screen width manjši od 720px (telefon?) -> gre v vertikalne blocke */
	body {font-size: 12px}
	ul {padding: 0;}
	ul li {float: none; display: block; padding: 5px 0 0 0;}
}

/*
		---------------------
		 Deklaracije za h, p
		---------------------
*/

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
h1 {font-size: 1.75em}
h2 {font-size: 1.5em}
h3 {font-size: 1.25em}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

/*
		--------------------------
		 Deklaracije za div.intro
		--------------------------
*/
div.intro {
	top: 0;
	position: relative;
	float: left;
	font-size: 6em;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}
div.intro-txt {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
	
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	transition: color 250ms ease, font-size 250ms ease;
}
div.intro-txt:hover {
	color: aqua;
	font-size: 125%;
}
@media screen and (max-width: 720px) { /* rwd - screen width manjši od 720px (telefon?) -> gre v vertikalne blocke */
	div.intro {font-size: 3em}
}