.columns {
    overflow: auto;
}

.column {
    float: left;
    width: 33.33%;
    display: table;
    margin: 0;
    border-spacing: 0.5em;
}

.row {
    display: table-row;
}

.row > label {
    display: table-cell;
    text-align: right;
}

.row > input {
    font-family: inherit;
    font-size: 1em;
    display: table-cell;
    padding: 0.25em;
    text-align: center;
    border: none;
    border-bottom: 2px solid white;
    background-color: #525252;
    color: white;
    font-weight: 600;
    width: 50%;
    transition: background-color 0.4s linear, border-bottom 0.4s linear, color 0.4s linear;
}

.row > input:focus {
    background-color: #6b6b6b;
    border-bottom: 2px solid aqua;
    color: aqua;
    outline: none;
}

.row > input:disabled {
    background-color: #2e2e2e;
    border-bottom: 2px solid #525252;
    color: #6b6b6b;
}

.row > input.sum:disabled {
    background-color: rgb(100, 85, 0);
    border-bottom: 2px solid gold;
    color: gold;
}

.row > label.sum {
    color: gold;
    font-weight: 600;
}

.row > label.disabled {
    color: #6b6b6b;
}

.result {
    font-weight: 600;
}

.gladge {
    color: lime;
}

.sadge {
    color: red;
}

@media only screen and (max-width: 960px) {

}

@media (prefers-color-scheme: light) {
    .row > input {
        border-bottom: 2px solid black;
        background-color: rgb(228, 228, 228);
        color: black;
    }
    .row > input:focus {
        background-color: rgb(214, 214, 214);
        border-bottom: 2px solid green;
        color: green;
    }
    .row > input:disabled {
        background-color: rgb(192, 192, 192);
        border-bottom: 2px solid #525252;
        color: #6b6b6b;
    }
    
    .row > input.sum:disabled {
        background-color: rgb(176, 176, 255);
        border-bottom: 2px solid blue;
        color: blue;
    }
    
    .row > label.sum {
        color: blue;
        font-weight: 600;
    }
    
    .row > label.disabled {
        color: rgb(192, 192, 192);
    }
    .gladge {
        color: green;
    }
}