body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	font-size: 16px;
	position: relative;
}

/* 
		------------------------
		 css za navigation menu
		------------------------
*/
nav {
	z-index: 1000;
	position: relative;
	font-size: 1.25em;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}
nav ul {
	text-align: center;
	padding: 15px 0px 15px 0px;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: #f2f2f2;
	/*position: fixed;*/
	top: 0;
	width: 100%;
	/*box-shadow: 0px 5px 5px 2px #999999;*/
}
nav li {
	display: inline-block; /* itemi v vrsti */
	padding: 0px 5px 0px 5px;
}
nav a {
	display: block;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 10px 30px;
	background-color: #f2f2f2; /* za animacijo na hover eventu */
	transition: background-color 250ms linear, transform 250ms ease;
}
nav a:hover {
	background-color: rgba(179, 0, 0, 0.6);
	transform: scale(1.05, 1.05);
}
nav a.active {
	background-color: rgba(179, 0, 0, 0.8);
}
@media screen and (max-width: 720px) { /* rwd - screen width manjši od 720px (telefon?) -> gre v vertikalne blocke */
	body {font-size: 12px}
	ul {padding: 0;}
	ul li {float: none; display: block; padding: 5px 0 0 0;}
}

/*
		------------------
		 css za h, p, ol
		------------------
*/

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
h1 {font-size: 2.25em}
h2 {font-size: 1.75em; font-variant: small-caps; border-bottom: 1px solid black;}
h3 {font-size: 1.5em}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.125em;
}
h1.center {
	text-align: center;
}
hr {
	border-top: 1px solid black;
	margin-left: 1%;
	margin-right: 1%;
}
ol.sources {
	list-style: none;
	counter-reset: item;
}
ol.sources li {
	counter-increment: item;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
}
ol.sources li:before {
	margin-right: 10px;
	content: counter(item);
	background: gray;
	border-radius: 100%;
	color: white;
	width: 1.2em;
	text-align: center;
	display: inline-block;
}

/*
		------------
		 css za div
		------------
*/
div.intro {
	top: 0;
	position: relative;
	float: left;
	font-size: 6em;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	margin-bottom: 2.5%;
}
div.intro-txt {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
	
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	transition: color 250ms ease, font-size 250ms ease;
}
div.intro-txt:hover {
	color: aqua;
	font-size: 125%;
}
@media screen and (max-width: 720px) { /* rwd - screen width manjši od 720px (telefon?) */
	div.intro {font-size: 3em}
}
div.content {
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 7.5%;
	clear: both;
}
div.indexnav {
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 7.5%;
	text-align: center;
	clear: both;
}

/*
		----------------------------
		 css za button, img, iframe
		----------------------------
*/
.navbutton {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 2em;
	background-color: lightblue;
	border: none;
	color: white;
	padding: 1% 4%;
	margin: 1% 2%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	box-shadow: 2px 2px 1px silver;
	transition: transform 250ms ease, background-color 250ms ease;
}
.navbutton:hover {
	background-color: #63b4cf;
	transform: scale(1.05, 1.05);
}
img.left {
	float: left;
	margin: 0px 20px 10px 0px;
	height: 300px;
}
.video {
	position: relative;
	height: 0;
	overflow: hidden;
}
.video-16x9 {
	padding-bottom: 56.25%;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 720px) { /* rwd - screen width manjši od 720px (telefon?) */
	img.left {height: 150px; padding: 0px 10px 5px 0px}
}

/*
		-----------------
		 css za galerijo
		-----------------
*/
.imgSlides {display: none;}
div.gallery {
	max-width: 100%;
	position: relative;
	margin: auto;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	transition: 500ms ease;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
div.imgCapt {
	color: white;
	font-family: Roboto, sans-serif;
	font-size: 1.25em;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
div.imgNum {
	color: white;
	font-family: Roboto, sans-serif;
	font-size: 1em;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
}
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}