body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	font-size: 18px;
	margin-bottom: 5%
}
nav ul {
	background-color: #333;
	text-align: center;
	list-style-type: none;
	height: auto;
	width: 100%;
	margin: 0;
	top: 0;
	padding: 20px 0px 20px 0px;
}
nav li {
	display: inline-block;
	padding: 0px 10px 0px 10px;
}
nav a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 10px 30px;
}
nav a.active { /*za aktivno stran*/
	background-color: rgba(114, 168, 255, 1.0);
}
nav a:hover {
	background-color: rgba(114, 168, 255, 0.7);
}
/* konc css-ja za navigacijski meni*/

@media screen and (max-width: 720px) { /* responsive web design - na fonu se zmanjša font, itd.*/
	body {font-size: 13px}
}

p.title {
	margin: 0;
	padding: 20px 0px 20px 0px;
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: black;
	text-align: center;
}
p.text {
	margin: 0;
	text-align: center;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
}
div.glava {
	margin: 0% 25% 0% 25%;
}
img {
	width: 75%;
	margin: 0% 12.5% 0% 12.5%;
	padding: 15px 0px 15px 0px;
}
figcaption {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.75em;
}
/* css za galerijo */

img.gal {
	width: 100%;
	padding: 0;
	margin: 0;
}
.imgSlides {display: none;}
div.gallery {
	max-width: 100%;
	position: relative;
	margin: auto;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	transition: 500ms ease;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
div.imgCapt {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
div.imgNum {
	color: white;
	font-family: Roboto, sans-serif;
	font-size: 1em;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
}
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}